.catalog-small {

    .small-slider {
        width: 1360px;
        position: relative;
        overflow: hidden;

        @media (max-width: $medium) {
            width: 100%;
            flex-wrap: wrap;
        }

        @media (max-width: $small) {
            width: 100%;
            flex-wrap: wrap;
        }

        .swiper-pagination {
            width: 100%;
            position: relative;
            justify-content: center;
            margin-top: 20px;

            .swiper-pagination-bullet-active {
                width: 16px !important;
                background-color: #3971FF !important;
            }

        }

    }

    h2 {
        font-family: 'Mazzard', sans-serif;
        font-size: 40px;
        font-weight: 600;

        @media (max-width: $medium) {
            font-size: 32px;
        }

        @media (max-width: $small) {
            font-size: 24px;
        }

    }

    .popular__all-btn {
        height: 40px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 12px;
        border: 1px solid #DEE1E9;
        font-family: 'Mazzard', sans-serif;
        font-size: 14px;
        font-weight: 600;

        @media (max-width: $small) {
            border: none;
            color: #3971FF;
            padding: 0;
            height: fit-content;
        }

    }

    .nav-arrow-left, .nav-arrow-right {
        border: 1px solid #DEE1E9;
        background: #F2F4F7;

        @media (max-width: $medium) {
            display: none;   
        }

    }

    .nav-arrow-left {
        margin-right: 4px;
        margin-left: 4px;
    }

    .nav-arrow-right {
        img {
            transform: rotate(180deg);
        }
    }

}

.product-card {

    font-family: 'Mazzard', sans-serif;

    align-items: flex-start;
    width: 265px;
    margin-right: 8px;

    @media (max-width: $small) {
        width: 167px;
    }

    &__body {
        border-radius: 32px;
        background: #fff;
        margin-top: 8px;
        width: 100%;
        height: 364px;

        @media (max-width: $small) {
            border-radius: 20px;
            height: 275px;
        }

    }

    &__seller {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 1000px;
        background: #E8EBF3;

        @media (max-width: $small) {
            width: 28px;
            height: 28px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 1000px;
        }

        &.verify {
            
            .verify-icon {
                content: url('../images/Verification.svg');
                width: 14px;
                height: 14px;
                position: absolute;
                right: -1px;
                bottom: -1px;
            }

        }
    }

    &__img {

        width: 147px;
        height: 172px;
        object-fit: contain;

        @media (max-width: $small) {
            width: 91px;
            height: 106px;
        }
    }

    .product-card__seller-data {
        margin-left: 8px;
    }

    .seller__data-top {
        gap: 4px;
    }

    .seller__data-bottom {
        color: #AEB1BA;
        font-size: 12px;
        font-weight: 500;
        gap: 4px;

        @media (max-width: $small) {
            font-size: 11px;

            .dot {
                display: none;
            }

        }

    }

    &__img-content {
        margin: 24px;
        margin-bottom: 32px;

        @media (max-width: $small) {
            margin: 0;
            height: 138px;  
        }

    }

    .seller {
        &__user-name {
            font-size: 14px;
            font-weight: 600;

            @media (max-width: $small) {
                font-size: 12px;
            }

        }

        &__rate {
            font-size: 12px;
            font-weight: 500;
            color: #0D1322;
            gap: 2px;

            @media (max-width: $small) {
                font-size: 11px;
            }

            &::before {
                content: url(../images/StarIcon.svg);
            }

        }
        
    }

    .product-card__tags {
        .tag-list {
            left: 16px;
            top: 16px;

            @media (max-width: $small) {
                left: 12px;
                top: 12px;
            }

        }

        .tag-item {

            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border: 2px solid #fff;

            @media (max-width: $small) {
                width: 28px;
                height: 28px;
            }

            &:nth-child(2) {
                left: -8px;
            }

            &__sharp {

                background: #DDF7E5;

                &::before {
                    content: '';
                    background: url('../images/flash-23.svg');
                    height: 16px;
                    width: 17px;

                    @media (max-width: $small) {
                        height: 14px;
                        width: 14px;
                        background-size: cover;
                    }

                }
            }

            &__in-stock {

                background: #FFEEDF;

                .stock-counter {
                    display: flex;
                    width: 16px;
                    height: 16px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    right: -3.5px;
                    border-radius: 1000px;
                    border: 2px solid #fff;
                    background: #FF9637;
                    top: -3.5px;
                    font-size: 9px;
                    font-weight: 700;
                    color: #fff;

                    @media (max-width: $small) {
                        font-size: 7px;
                        width: 14px;
                        height: 14px;
                        top: -4.5px;
                        right: -4.5px;
                    }

                }

                &::before {
                    content: '';
                    background: url('../images/bag-happy-2.svg');
                    height: 16px;
                    width: 17px;

                    @media (max-width: $small) {
                        height: 14px;
                        width: 14px;
                        background-size: cover;
                    }

                }
            }
        }

        .tag-sale {

            min-width: 104px;
            width: fit-content;
            top: 172px;
            left: 16px;

            @media (max-width: $small) {
                top: 102px;
                left: 12px;
            }

            .tag-item {
                background: #FF473B;
                position: relative;
                z-index: 10;

                @media (max-width: $small) {
                    img {
                        width: 7px;
                        height: 7px;
                    }
                }
            }

            .sale-amount {
                display: flex;
                height: 32px;
                padding: 7px 12px 6px 14px;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                border: 2px solid #fff;
                background: #FFE5E3;
                font-size: 12px;
                font-weight: 600;
                color: #FF473B;
                position: relative;
                left: -8px;

                @media (max-width: $small) {
                    height: 28px;
                    padding: 7px 8px 6px 12px;
                    border: 1px solid #fff;
                    font-size: 11px;
                    font-weight: 600;
                }

                &::after {
                    content: '  ₽';
                    margin-left: 3px;
                }

            }
        }
    }

    .product-card__stats {
        gap: 5px;
        flex-direction: column;
        right: 16px;
        top: 16px;
        color: #AEB1BA;
        font-size: 11px;
        font-weight: 400;

        @media (max-width: $small) {
            display: none;
        }

        .stats__likes, .stats__views {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .stats__views {
            &::before {
                content: url('../images/eye.svg');
                margin-right: 2px;
            }
        }

        .stats__likes {
            &::before {
                content: url('../images/heart-2.svg');   
                margin-right: 2px;
            }
        }

    }

    .product-card__info-content {
        padding: 0 17px;
        padding-bottom: 20px;

        @media (max-width: $small) {
            padding: 0 12px;
            padding-bottom: 12px;
        }

        .product__title {
            font-size: 16px;
            font-weight: 600;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width: $small) {

                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

            }

        }

        .product__categories {
            margin-top: 4px;
            margin-bottom: 8px;
            gap: 4px;
            font-size: 14px;
            font-weight: 500;
            color: #AEB1BA;

            @media (max-width: $small) {
                font-size: 11px;
            }

        }

        .product__price-block {

            @media (max-width: $small) {
                flex-direction: column;
                align-items: flex-start;
            }

            .price__low {
                font-size: 20px;
                font-weight: 600;

                @media (max-width: $small) {
                    font-size: 14px;
                }

                &::after {
                    content: '  ₽';
                    font-family: 'Gilroy', sans-serif;
                    color: #AEB1BA;
                    font-size: 14px;

                    @media (max-width: $small) {
                        font-size: 11px;
                    }

                }
            }

            .prcie__old {
                color: #AEB1BA;
                font-size: 12px;
                font-weight: 500;
                text-decoration: line-through;
                margin-left: 6px;
                margin-right: 4px;

                @media (max-width: $small) {
                    margin-left: 0;
                    font-size: 11px;
                }

            }

            .price__discount {
                font-size: 12px;
                font-weight: 500;
                color: #FF473B;
            }

        }

        .prod-delivery  {
            font-size: 14px;
            font-weight: 600;
            margin-top: 8px;

            @media (max-width: $small) {
                font-size: 11px;
                position: absolute;
                bottom: 12px;
            }

            &.product__order {
                color: #FF9637;
                svg {
                    margin-right: 2px;
                    path {
                        fill: #FF9637;
                    }
                }
            }

            &.product__available {
                color: #57D67B;
                svg {
                    margin-right: 2px;
                    path {
                        fill: #57D67B;
                    }
                }
            }
        }

    }
    

}

.swiper-slider__btn:hover, .popular__all-btn:hover, .swiper-slider__btn:hover svg path {
    color: #3971FF;
    fill: #3971FF;
}