#swiperMainSlider3 {
  display: none;
}

@media (max-width: $medium) {
  #swiperMainSlider3 {
    display: none;
  }
}

@media (max-width: $tablet) {
  #swiperMainSlider2 {
    display: none;
  }

  #swiperMainSlider3 {
    display: flex;
  }
}

@media (max-width: $tablet) {
  .main-container .container {
    flex-direction: column;
  }

}

@media (max-width: $small) {
  .main-container .container {
    flex-direction: column;
  }

  #swiperMainSlider3 {
    display: none;
  }

  #swiperMainSlider2 {
    display: flex;
  }

}

#swiperMainSlider1 {
  width: 904px;
  height: 380px;
  border-radius: 40px;
  position: relative;
  margin-right: 12px;

  // @media (max-width: $medium) {
    // width: 100%;
    // max-width: 636px;
    // height: 268px;
    // border-right: 32px;
  // }

  .swiper-slide img, .swiper-slide {
    width: 904px;
    height: 380px;
    border-radius: 40px;

    @media (max-width: $medium) {
      width: 100%;
      // max-width: 636px;
      height: 268px;
      border-right: 32px;
    }

    @media (max-width: $tablet) {
      width: 100%;
      // max-width: 636px;
      height: 268px;
      border-right: 24px;
    }

    @media (max-width: $small) {
      width: 100%;
      height: 343px;
      border-radius: 40px;
    }

  }

  .swiper-pagination {
    bottom: -20px;
  }

  @media (max-width: $medium) {
    width: 638px;
    height: 268px;
    border-radius: 32px;
  }

  @media (max-width: $tablet) {
    width: 680px;
    height: 268px;
    border-right: 24px;
  }

  @media (max-width: $small) {
    width: 100%;
    height: 343px;
  }
  

}

#swiperMainSlider2, #swiperMainSlider3 {

  width: 444px;
  position: relative;

  @media (max-width: $medium) {
    width: 310px;
    border-radius: 32px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 18px;
  }

  @media (max-width: $small) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 18px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media (max-width: $tablet) {
      flex-direction: row;
    }

    @media (max-width: $small) {
      flex-direction: row;
    }

  }
  
  .swiper-slide, .swiper-slide img {
    width: 444px;
    border-radius: 32px;

    @media (max-width: $medium) {
      width: 100%;
    }

    @media (max-width: $tablet) {
      width: 24%;
    }

    @media (max-width: $small) {
      width: 48%;
    }

  }

  .swiper-slide {
    height: 380px;

    @media (max-width: $medium) {
      height: 268px;
    }

    @media (max-width: $tablet) {
      height: 165px;
    }
    
    @media (max-width: $small) {
      height: 165px;
    }

  }

  .swiper-slide img {
    height: 184px;

    @media (max-width: $medium) {
      height: 130px;
    }

    @media (max-width: $tablet) {
      height: 165px;
    }

    @media (max-width: $small) {
      height: 165px;
    }

  }

  .swiper-pagination {
    bottom: -20px;
  }

}

.swiper-slider__btn::after {
  display: none;
}

.swiper-slider__btn {
  display: flex;
  padding: 10px;
  box-shadow: 0px 6px 24px 0px rgba(132, 178, 206, 0.15);
  border-radius: 12px;
  background: #fff;
  width: 40px;
  height: 40px;

  @media (max-width: $tablet) {
    display: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &::after {
    display: none;
  } 
  &.swiper-button-next img {
    transform: rotate(180deg);
  }

  &.swiper-button-prev {
    left: -16px;
  }

  &.swiper-button-next {
    right: -16px;
  }

}

.swiper-pagination-bullet-active {
  width: 16px !important;
}

.swiper-pagination-bullet-active span {
  background-color: #3971FF !important;
}

.swiper-pagination-bullet {

    position: relative;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #e3e5e8;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: width .16s ease-in-out, background-color .1s ease-in-out;
    -o-transition: width .16s ease-in-out, background-color .1s ease-in-out;
    transition: width .16s ease-in-out, background-color .1s ease-in-out;
    border-radius: 1000px;

  span {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    background-color: #e3e5e8;
  }
}
