.table-sellers {
    padding-top: 32px;
    position: relative;
    margin-bottom: 32px;

    .background-substrate {
        border-radius: 32px;
        top: 0;
    }

    .table-sellers__title {
        font-family: 'Mazzard', sans-serif;
        font-weight: 600;
        line-height: 120%;

        .title {
            color: rgb(16, 19, 27);
            font-size: 32px;
        }

        button {
            color: rgb(13, 19, 34);
            font-size: 14px;
            height: 40px;
            border: 1px solid rgb(222, 225, 233);
            border-radius: 12px;
            padding: 0 16px;
            background: none;
        }
    }

    .container {
        @media (max-width: $tablet) {
            overflow-y: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 17px;

        @media (max-width: $tablet) {

            tbody {
                width: 100%;
            }

            .table__titles {
                display: flex;
                justify-content: space-between;
            }

        }
        


    }

    // .table__title {
    //     text-align: left;
    //     font-family: 'Mazzard', sans-serif;
    //     font-size: 14px;
    //     font-weight: 500;
    //     color: #AEB1BA;

    //     @media (max-width: $tablet) {
    //         width: 21%;
    //     }


    // }

    // &__product {
    //     width: 35%;

    //     @media (max-width: $tablet) {
    //         width: 32% !important;
    //     }

    //     @media (max-width: $small) {
    //         width: 40% !important;
    //     }

    // }

    // &__count {
    //     width: 15%;
    //     padding: 0 24px;

    //     @media (max-width: $tablet) {
    //         padding: 0;
    //     }

    // }

    // &__cost {
    //     width: 15%;
    //     padding: 0 24px;

    //     @media (max-width: $tablet) {
    //         padding: 0;
    //     }

    // }

    // &__avalible {
    //     width: 15%;
    //     padding: 0 24px;

    //     @media (max-width: $tablet) {
    //         padding: 0;
    //     }

    //     @media (max-width: $small) {
    //         display: none;
    //     }

    // }

    // &__btns {
    //     width: 10%;

    //     @media (max-width: $tablet) {
    //         display: none;
    //     }

    // }

    .table-item {

        @media (max-width: $tablet) {

            // ?

            width: 21%;
        }

        &__content {

            border-bottom: 1px solid #DEE1E9;
            position: relative;
            display: flex;
            // display: flex;
            align-items: center;
            justify-content: space-between;


            @media (max-width: $tablet) {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 16px 0;
                row-gap: 13px;
            }

            &:last-child {
                border-bottom: none;
            }

            td {
                padding-top: 20px;
                padding-bottom: 20px;
                align-items: center;

                @media (max-width: $tablet) {
                   padding-bottom: 68px;
                   text-align: left;
                    padding: 0;
                }

            }
        }

    }

    .table__content {

        &-seller {

            display: flex;

            @media (max-width: $tablet) {
                width: 32%;
            }

            @media (max-width: $small) {
                width: 40%;
            }

            .table-item__img {
                display: flex;
                width: 48px;
                height: 48px;
                padding: 12px 15px;
                justify-content: center;
                align-items: center;
                border-radius: 1000px;
                backdrop-filter: blur(6px);
                margin-right: 12px;
                background: rgb(242, 244, 247);

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 1000px;
                    object-fit: cover;
                }

                @media (max-width: $tablet) {
                    width: 48px;
                    height: 48px;
                    border-radius :12px;
                    margin-right: 8px;
                    padding: 0 7px;

                    img {
                        width: 27px;
                        height: fit-content;
                    }

                }

            }
    
            .table-item__info {
                font-family: 'Mazzard', sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin: 6px 0;

                @media (max-width: $tablet) {
                    font-size: 14px;
                    text-align: left;
                    margin: 0;
        

                    span {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }

                @media (max-width: $small) {
                    span {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }


                .tags {
                    margin-top: 2px;
                    gap: 4px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #AEB1BA;

                    @media (max-width: $small) {
                        font-size: 12px;

                        span:nth-child(2), span:nth-child(3) {
                            display: none
                        }

                    }

                }

            }

            .table-item__rate {
                align-items: center;
                gap: 4px;
                margin-left: 67px;
            }
        }


        &-delivery {
            font-family: 'Mazzard', sans-serif;
            display: flex;
            gap: 40px;

            .table-item__delivery {
                align-items: center;
                gap: 4px;
            }
            
            .table-item__period {
                font-weight: 400;
                color: rgb(13, 12, 26);
            }

            a {
                color: rgb(57, 113, 255);
                font-size: 14px;
                font-weight: 600;
                margin-left: 8px;
            }
        }

        &-price {

            .table-item__price {
                align-items: center;
                justify-content: flex-end;
                gap: 24px;
            }

            .table-item__period {
                font-family: 'Mazzard', sans-serif;
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-weight: 600;
                line-height: 120%;
            }

        }

        &-count, &-cost, &-avalible, &-btns {
            padding: 0 24px;

            @media (max-width: $tablet) {
                padding: 0;
            }

        }

        &-avalible {
            @media (max-width: $small) {
                display: none;
            }
        }

        &-btn {
            @media (max-width: $tablet) {
                left: 0;
                bottom: -50px;
                width: 100%;
                -webkit-transform: translateZ(0);
            }
        }
    }

    .table-item__count, .table-item__price {

        @media (max-width: $tablet) {

            display: inline-block;
            text-align: left;

        }
    }

    .table-item__dynamics-block {

        @media (max-width: $small) {
            font-size: 12px;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .dynamics-count {
        font-family: 'Mazzard', sans-serif;
        font-size: 16px;
        font-weight: 600;

        @media (max-width: $tablet) {
            font-size: 14px;
        }

    }

    .dynamics-percent {
        font-family: 'Mazzard', sans-serif;
        font-size: 12px;
        font-weight: 600;
        &::after {
            content: '%';
        }
    }

    .percent-up {
        color: #57D67B;
        &::before {
            content: url('../images/green-percent.svg');
            margin-right: 4px;
        }
    }

    .percent-down {
        color: #FF473B;
        &::before {
            content: url('../images/red-percent.svg');
            margin-right: 4px;
        }
    }

    .table-item__period {
        font-family: 'Mazzard', sans-serif;
        font-size: 14px;
        font-weight: 500;

        @media (max-width: $tablet) {
            font-size: 12px;
            white-space: nowrap;
        }

    }

    .table-item__price {
        .dynamics-count {
            &::after {
                content: ' ₽';
            }
        }
    }

    .table-item__btn {
        display: flex;
        justify-content: flex-end;

        a {
            font-family: 'Mazzard', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            display: flex;
            height: 40px;
            padding: 16px;
            justify-content: center;
            align-items: center;
            background: rgb(57, 113, 255);
            border-radius: 12px;

            @media (max-width: $tablet) {
                width: 100%;
            }

            &:hover {
                background: #BFD1FA;
            }

        }
    }   

}